.editor-view {
    display: flex;

    background: url(http://img1.mxstatic.com/wallpapers/5ccd3f1a8a76f74076b4dd03e97e30bd_large.jpeg);
}

.card {
  margin: auto;
  position: relative;
  top: 20%;
  width: 550px;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  background: #F5F5F5;
  color: #FFFFFF;
}

.update {
  color: white;
  text-align: center;
  margin-top: 50px;
}

#editable {
  padding: 20px;
}

.name, .job {
  color: black;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
#box {
    width: 200px;
    height: 200px;
    background-color: #3FA5D5;
}

.changeBackground{
   background-color: #FF8F00 !important;
}

/* .changeBackground { */
/*   color: red !important; */
/* } */
